<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/cafe.jpg" width="150px" alt="">
        </div>
        <div class="headings">
            <h2>Cafeteria</h2>
            <h3>web aplications cafe</h3>
        </div>
    </header>

<%- include('partials/footer'); -%>