<%- include('partials/header'); -%>
    <h1>Registro</h1>

    <form action="/signup">
        <label for="">Email</label>
        <input type="text" name="email" required>
        <div class="email error"></div>
        <label for="">Password</label>
        <input type="password" name="password" required>
        <div class="password error"></div>
        <button>Signup</button>

    </form>


    <script>
        const form = document.querySelector ('form')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            //obtener valores
            const email = form.email.value
            const password = form.password.value
            console.log(email, password)

        })
    </script>
    <%- include('partials/footer'); -%>